doctype html
html(lang="en")
  head
    title= title || "Hard Javascript"
    link(href='css/prism.css' rel='stylesheet')
    link(href='css/base.css' rel='stylesheet')

  body
    .uk-container.uk-container-center
      != body

    script(src='js/prism.js')
    script(src='js/jquery.min.js')
    script(src='js/uikit.min.js')
    script(src='js/core/offcanvas.min.js')
